.SearchBox {
    margin-top: 5px;
    text-align: center;
    color: aliceblue;
}

#City {
    background-color: aliceblue;
    color: black;
}

Button {
    background-color: rgb(102, 22, 22);
    
}